*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/.generators
.idea/.rakeTasks
.idea/dataSources.ids
.idea/dataSources.xml
.idea/poc.iml
db/development.sqlite3
log/development.log
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/runConfigurations/Development__poc.xml
.idea/runConfigurations/Production__poc.xml
.idea/runConfigurations/spec.xml
.idea/runConfigurations/test.xml
app/views/.DS_Store
