<div class="container">
  <div style="height: 30px;"></div>
    <h1>Handleiding</h1>
    <div>
      <p><strong>Handleiding INDEBUURT</strong></p>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-danger panel_va">
          <div class="panel-heading">
            <h5><strong>Zoeken</strong></h5>
          </div>
          <div class="panel-body">
            <p>Zoeken doe je via zoekwoorden in de zoekbalk bovenaan de pagina&rsquo;s &ldquo;ruilen&rdquo; en &ldquo;evenementen&rdquo;. Kun je iemand helpen met eten, dan typ je &ldquo;eten&rdquo; om alle vraag daarnaa te vinden. Ben je op zoek naar iemand die een kinderfeestje georganiseerd in de buurt, dan typ je bij evenementen &ldquo;kinderfeestje&rdquo; etc. Ook hier krijg je alleen resultaten van binnen jouw gekozen radius.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-danger panel_va">
          <div class="panel-heading">
            <h5><strong>Toevoegen</strong></h5>
          </div>
          <div class="panel-body">
            <p>Op verschillende pagina&rsquo;s kun je ook zelf berichten (aanbiedingen, vraag, evenement) plaatsen.&nbsp; Een aanbieding of evenement plaatsen doe je door aan de rechterkant van de pagina een titel aan te geven, er een bericht bij te plaatsen (uitleg over je aanbieding/evenement) en je adres aan te geven zodat andere gebruikers zien of het bericht relevant is voor hun gekozen gebied. Het is hier ook mogelijk een afbeelding bij te plaatsen, deze kun je vanaf je computer uploaden. Hierna klik je op &lsquo;verzenden&rsquo; en je bericht zal op de pagina komen te staan. Ook zal er een icoon op de kaart verschijnen voor iedereen binnen de radius.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-danger panel_va">
          <div class="panel-heading">
            <h5><strong>Kaart</strong></h5>
          </div>
          <div class="panel-body">
            <p>De kaart is een algemeen overzicht van jou buurt of stad. Je ziet hierop de aanbiedingen en vragen die geplaatst zijn op locatie, aangegeven met een icoon. Ook zie je je eigen locatie. Er wordt een radius aangegeven door middel van een cirkel, binnen de gekozen radius zie je alle vraag en aanbod. Deze kun je naar wens verschuiven om de informatie voor jou relevant te houden.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-danger panel_va">
          <div class="panel-heading">
            <h5><strong>Menu</strong></h5>
          </div>
          <div class="panel-body">
            <p>Het menu bevat verschillende onderwerpen waar je acties kunt uitvoeren. Hier vind je per onderdeel de aanbiedingen en vragen uit de buurt en kun je ook zelf toevoegen.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-danger panel_va">
          <div class="panel-heading">
            <h5><i class=" fa fa-sign-in"></i><p><strong>Inloggen</strong></h5>
          </div>
          <div class="panel-body">
            <p>Wanneer je de pagina/app opent verschijnt het inlog scherm. Hier kun je inloggen met je Facebook-account of met je emailadres en een wachtwoord.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-danger panel_va">
          <div class="panel-heading">
            <h5><strong>Ruilen</strong></h5>
          </div>
          <div class="panel-body">
            <p>Je vindt hier aanbiedingen die in jouw buurt lopen of verzoeken van buurtgenoten die graag iets zouden ruilen. Je kunt zoeken om aanbiedingen te vinden die op jou van toepassing zijn.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-danger panel_va">
          <div class="panel-heading">
            <h5><strong>Evenementen</strong></h5>
          </div>
          <div class="panel-body">
            <p>Op de pagina evenementen vind je evenementen in jouw buurt. Dat zijn bijvoorbeeld feestjes die door je buren worden georganiseerd of een speelmiddag voor de kinderen.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-danger panel_va">
          <div class="panel-heading">
            <h5><strong>Account</strong></h5>
          </div>
          <div class="panel-body">
            <p>Je account is alle informatie die je hebt ingevoerd over je zelf. Je kunt je hier ook uitloggen van de website.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-danger panel_va">
          <div class="panel-heading">
            <h5><strong>Instellingen</strong></h5>
          </div>
          <div class="panel-body">
            <p>Bij instellingen kun je je namen, emailadres en wachtwoord aanpassen. Om de aanpassingen definitief te maken klik je op &lsquo;opslaan&rsquo;.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-danger panel_va">
          <div class="panel-heading">
            <h5><strong>Profiel</strong></h5>
          </div>
          <div class="panel-body">
            <p>Je profiel is een opsomming van je gegevens die o.a. ook door andere gebruikers te zien is.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-danger panel_va">
          <div class="panel-heading">
            <h5><strong>Locatie</strong></h5>
          </div>
          <div class="panel-body">
            <p>Je locatie is de plek waarop je bent ingeschreven, je huis dus. Vanuit hier kun je ook je radius bepalen zodat je alleen berichten ziet van buren die echt in de buurt zijn, dus niet een wijk die te ver weg ligt. Zo blijft de informatie die je ziet relevant.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-danger panel_va">
          <div class="panel-heading">
            <h5><strong>Verwijderen</strong></h5>
          </div>
          <div class="panel-body">
            <p>Is je aanbod of evenement voorbij, of wil je er misschien niet mee doorgaan, dan kun je hem weer verwijderen. Het verwijderen van een geplaatst bericht doe je door op het bericht icoontje onder bijvoorbeeld jouw evenement te klikken. Daar kun je het bericht aanpassen en verwijderen.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-danger panel_va">
          <div class="panel-heading">
            <h5><strong>Iconen</strong></h5>
          </div>
          <div class="panel-body">
            <p>Om alle aanbod op de kaart aan te geven worden verschillende iconen gebruikt ter herkenning. Het icoon voor evenementen is een kalender, het icoon voor ruilen zijn twee pijlen.&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
</div>