<div class="container">
    <div style="margin-left: 20px;">
        <h1>Selecteer jouw locatie</h1>
        <p>Door je locatie en radius in te stellen krijg je alleen aanbiedingen binnen deze radius. Dit kan handig zijn als je geen aanbiedingen wil hebben buiten je radius.</p>
        <button style="position: absolute; top: 80px; right: 105px;" id="save-button" class="btn btn-success pull-right">Locatie opslaan</button>
    </div>
</div>

<script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false&callback=initialize"></script>
<script>
    var map,
        circle;

    function saveLocation() {
        var data = {
            latitude:   circle.getCenter().lat(),
            longitude:  circle.getCenter().lng(),
            radius:     circle.getRadius()
        };

        $.ajax(
        {
            type: 'POST',
            url: "/settings/save_location/",
            data: data,
            async: true,
            success: function(data) {
                alert('Locatie is succesvol opgeslagen!');
                window.location.href = "/settings";
            }
        });
    };

    function setCurrentLocation() {
        $.ajax(
        {
            type: 'GET',
            url: "/settings/current_location/",
            async: true,
            success: function(data)
            {
                addRadius(data.radius, data.latitude, data.longitude)
            }
        });
    };

    function addRadius(radius, lat, long) {
        addCircle(radius, lat, long);
    };

    <%
        if current_user.latitude.nil? || current_user.latitude == ''
            lat = 52.to_s
        else
            lat = current_user.latitude.to_s
        end

        if current_user.longitude.nil? || current_user.longitude == ''
            lng = 6.to_s
        else
            lng = current_user.longitude.to_s
        end
    %>

    function initialize() {
        var mapOptions = {
            zoom: 17,
            center: new google.maps.LatLng(<%= lat + "," + lng; %>),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableDefaultUI: true
        };

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        setCurrentLocation();
    };

    function addCircle(radius, lat, long) {
        var circleData = {
            map: map,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#000000',
            fillOpacity: 0.1,
            center: new google.maps.LatLng(lat, long),
            radius: parseFloat(radius)
        };

        circle = new google.maps.Circle(circleData);

        circle.setEditable(true);
        circle.setDraggable(true);
    };

    $(document).on('click', '#save-button', function() {
        saveLocation();
    });
</script>
<div style="height: 100%; margin: 0px; margin-bottom: -210px; padding: 0px" id="map-canvas"></div>