html,body{
  height:100%;
  width:100%;
}
// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background:image-url('bodyBg.png') ;
  background-repeat: repeat;
  width: 100%;
  height:100%;
  padding: 0;
  margin: 0;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
.navbar {
  margin-bottom: 0px;
}

@font-face {
  font-family: 'CubanoRegular';
  src: asset-url('assets/cubano-regular-webfont.eot');
  src: asset-url('assets/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('assets/cubano-regular-webfont.woff') format('woff'),
  asset-url('assets/cubano-regular-webfont.ttf') format('truetype'),
  asset-url('assets/cubano-regular-webfont.svg#CubanoRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: CubanoRegular !important;
}

h1 {
  color: #FE5214;
}

.row .page-header
{
  padding-bottom: 9px;
  border-bottom: 1px solid #FE5214;
  background: none;
}
 .alert
 {
   position: absolute;
   text-align: center;
   top: 50px;
   width: 100%;
 }

.navbar-collapse.in {
  overflow-y: auto;
}
.dropdown-menu
{
  padding: 0px;
}

.dropdown-menu li
{
  background-color: #d40000;;
}
.dropdown-menu li:hover, .dropdown.open
{
background-color: #c90202;
}
.divider
{
  background-color: #c90202;
}


html{

  .gritter-item{
    &.gritter-css3{
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, rgba(37, 37, 37,0.7)),
          color-stop(1, rgba(5, 5, 5,0.7))
      );
      background-image: -o-linear-gradient(bottom, rgba(37, 37, 37,0.7) 0%, rgba(5, 5, 5,0.7) 100%);
      background-image: -moz-linear-gradient(bottom, rgba(37, 37, 37,0.7) 0%, rgba(5, 5, 5,0.7) 100%);
      background-image: -webkit-linear-gradient(bottom, rgba(37, 37, 37,0.7) 0%, rgba(5, 5, 5,0.7) 100%);
      background-image: -ms-linear-gradient(bottom, rgba(37, 37, 37,0.7) 0%, rgba(5, 5, 5,0.7) 100%);
      background-image: linear-gradient(to bottom, rgba(37, 37, 37,0.7) 0%, rgba(5, 5, 5,0.7) 100%);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid #000000;
      -moz-box-shadow: inset 0px 1px 0px rgba(100,100,100,0.7);
      -webkit-box-shadow: inset 0px 1px 0px rgba(100,100,100,0.7);
      box-shadow: inset 0px 1px 0px rgba(100,100,100,0.7);
      &:hover{
        border: 1px solid #000000;
        padding: 12px 11px 16px 11px;
      }
      .gritter-close{
        background: none;
        text-align:center;
        line-height:30px;
        font-size:14px;
        right: 5px;
        left: auto;
        &:before{
          content: "\2716";
        }
      }
    }
    a{
      display:block;
      color: #4cbfd2;
      margin-top:4px;
      margin-bottom:-2px;
    }
  }
}

header {
  position: absolute;
  width: 100%;
}

h1, h2, h3 {
  margin-top: 100px !important;
}

.panel-heading h3 {
  margin-top: 0px !important;
}

.btn-demo-style {
  position: absolute;
  top: 70px;
  right: 82px;
}