<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <h4 class="widget-header text-center">
          Sitemap
        </h4>
        <ul id="sitemap">
          <li>
            Privacy
          </li>
          <li>
            Algemene voorwaarden
          </li>
          <li>
            Contact
          </li>
          <li>
            Over InDeBuurt
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-md-offset-4 col-xs-12">
        <h4 class="widget-header text-center">
          Contact
        </h4>
        <ul id="contact" class="pull-right">
          <li>
            <a>
              <i class="fa fa-envelope"></i>
              info@indebuurtarnhem.nl
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-twitter"></i>
              @InDeBuurtArnhem
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>